<owl-carousel-o  [options]="customOptions">
    <ng-template carouselSlide><img src="images/main-slider/4972fef0-5ecc-41e2-bef8-18bd1958c451.avif" alt=""></ng-template>  
    <ng-template carouselSlide><img src="images/main-slider/6a82136f-6285-40f5-b5ef-052a53daa8c7.avif" alt=""></ng-template>  
    <ng-template carouselSlide><img src="images/main-slider/f89679a0-7f7e-4a54-92a6-83ea317f844c.avif" alt=""></ng-template>  
    <ng-template carouselSlide><img src="images/main-slider/en_dk_eg-hero-01 (22).1740051047.7541482.avif" alt=""></ng-template>  
  </owl-carousel-o>
