<div class="grid grid-cols-12 gap-3 py-3 mt-5 border-b border-main rounded-2xl">
    <div class="col-span-1 "><img [src]="product.product.imageCover" class="w-full rounded-4xl" alt=""></div>
    <div class="col-span-10">
        <h4 class="font-bold">{{product.product.title}}</h4>
        <span class="text-main block my-3">Price: {{product.price}}</span>
        <button (click)="onRemove()" class="cursor-pointer hover:bg-red-600 hover:text-white duration-300 rounded-2xl p-2 mt-3 "><i class="fa fa-trash-can text-main"></i>Remove</button>
    </div>
    <div class="col-span-1 ">
        <button (click)="onUpdatequt(product.count+1)" class="border border-main hover:text-white  p-2 rounded-2xl hover:bg-main duration-300 cursor-pointer me-2 "><i class="fa fa-plus"></i></button>
        <span class="ms-3 lg:ms-0 lg:me-2">{{product.count}}</span>
        <button (click)="onUpdatequt(product.count-1)" class="border border-main hover:text-white  p-2 rounded-2xl hover:bg-main duration-300 cursor-pointer "><i class="fa fa-minus"></i></button>


    </div>



</div>
