<section>
    <div class="container mx-auto px-4 py-8 my-10 ">
        <div class="grid sm:grid-cols-12 gap-5">
            <div class="sm:col-span-4">
                <figure>
                    <img [src]="productDetails.imageCover" class="w-full rounded-4xl" alt="">
                </figure>
            </div>

            <div class="sm:col-span-8 p-3">

                <h1 class="text-2xl font-bold mb-5 ">{{productDetails.title}}</h1>
                <p class="mb-5 my-5 ">{{productDetails.description}} </p>



                <button (click)="AddToCart()"  class="main-btn  w-full  bg-main/80  hover:bg-main    ">Add to cart</button>
                
            </div>
        </div>
    </div>
    
</section>
